{{ define "main" }}
  {{ .Content }}
  
  <div class="product-grid">
    {{ range $i, $p := where site.RegularPages.ByWeight "Section" "products" }}
      <section class="product-card">
        <a href="{{ $p.RelPermalink }}" class="product-main">
          {{ with $p.Resources.GetMatch "0.jpg" }}
            <img
              src="{{ .RelPermalink }}"
              class="product-main-image base"
              loading="eager"
              fetchpriority="high"
              decoding="async"
            />
          {{ end }}

          {{ with $p.Resources.GetMatch "1.jpg" }}
            <img
              src="{{ .RelPermalink }}"
              class="product-main-image hover"
              loading="lazy"
              fetchpriority="low"
              decoding="async"
            />
          {{ end }}
        </a>

        <div class="product-meta">
          <h3>{{ .LinkTitle }}</h2>
          {{ with .Params.price }}
            <h3>{{ printf "$%d" . }}</h2>
          {{ end }}
        </div>
      </section>
    {{ end }}
  </div>

{{ end }}
