$backgroundcolour: #000000;
$darkcolour: #3A322C;
$lightcolour: #FFB563;
$lightgrey: #999999;
$lightopposite: #63ADFF;
$borderthickness: 4px;
$borderradius: 10px;
$fontsize: 20px;
$backgroundimage: "/assets/images/wood.png";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: $backgroundcolour;
    background-image: url($backgroundimage);
    color: $lightcolour;
    font-family: 'Courier New', Courier, monospace;
    font-size: $fontsize;
}

header {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;

	a, .socials a {
		height: 100%;
	}

  a:hover {
    filter: hue-rotate(3.142rad);
  }

	.logo {
		max-height: 100%;
    flex: 3;
	}

	.cart {
    flex: 1;
    text-align: center;
	}

	.social {
    flex: 1;
		height: 50%;
    width: 60px;
	}

	.socials {
		max-height: 100%;
		display: flex;
		align-items: center;
	}
}

.thumb {
	max-height: 80px;
  margin: 2px;
  box-sizing: border-box;
  border: 2px transparent solid;
  cursor: pointer;
}

.selected {
  border: 2px $lightcolour inset;
}

.zoom {
  display:inline-block;
  position: relative;
  
  img {
    display: block;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.option {
  display: flex;
}

label {
  flex: 3;
}

select {
  flex: 7;
  padding: 3px;
  border: 2px outset $darkcolour;
  background-color: $darkcolour;
  color: $lightcolour;
  margin-bottom: 8px;
  margin-left: 20px;
}

.flex-container {
  display: flex;
}

.image-section {
  flex: 1;
}

.info-section {
  flex: 1;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;

    &:after {
      content: "";
      flex: auto;
    }
}

#outer {
    flex-basis: 31%;
    position: relative;
    border: $borderthickness ridge $darkcolour;
    max-width: 100%;
    height: 371px;
    border-radius: $borderradius;
    background-size: cover;

    &:hover .innertext {
      color: $lightopposite;
      border-color: $lightopposite;
    }
    
    &:hover {
      border-color: $lightopposite;
    }
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product {
  position: relative;
  display: inline;
}

.imtip {
  position: absolute;
  max-width: 70%;
  background-color: $darkcolour;
  padding: 3px;
}

.cart {
  max-width: 50px;
}

.content {
  font-size: 18px;
}

.add-to-cart {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 14px 100px;
  background-color: $lightcolour;
  border: 2px $lightcolour outset;
  color: $darkcolour;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  cursor: pointer;
}

#inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

#inner-container-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.innertextbottomright {
  display: inline;
  position: relative;
  border-top: $borderthickness groove $darkcolour;
  border-left: $borderthickness groove $darkcolour;
  border-top-left-radius: $borderradius;
  background-image: url(/assets/images/wood.png);
  background-color: $backgroundcolour;
  padding: 5px 8px 0px 8px;
  font-size: 16px;
}

#inner-container-top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;

  top: -4px;
  left: -4px;
}

#inner-container-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;

  bottom: -4px;
  left: -4px;
}

.innertextbottomleft {
  display: inline;
  position: relative;
  border-top: $borderthickness groove $darkcolour;
  border-right: $borderthickness groove $darkcolour;
  border-top-right-radius: $borderradius;
  background-image: url(/assets/images/wood.png);
  background-color: $backgroundcolour;
  padding: 5px 8px 0px 8px;
  font-size: 16px;
}

.innertexttopleft {
  display: inline;
  position: relative;
  font-size: 20px;
  border: $borderthickness groove $darkcolour;
  background-image: url(/assets/images/wood.png);
  background-color: $backgroundcolour;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: $borderradius;
  padding: 0px 8px 5px 8px;
}

::selection {
  color: $lightopposite;
  background: $backgroundcolour;
}
