<!doctype html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/assets/js/jquery-ui.min.js"></script>
  <script src="/assets/js/jquery.zoom.min.js"></script>
  <script src="/assets/js/main.js"></script>
</head>

<body>
  <header>
    <div class="socials">
      {% for x in site.data.socials %}
      <a href="{{ x.url }}" target="_blank">
        <img class="social" src="/assets/images/{{ x.src }}.png" title="{{ x.name }}"></a>
      </a>
      {% endfor %}
    </div>
    <a href="/">
      <img class="logo" src="/assets/images/logo.png" title="Home Page">
    </a>
    <a href="/cart">
      <img class="cart" src="/assets/images/cart.png" title="Cart">
    </a>
  </header>

  <div>
    {{ content }}
  </div>

</body>
</html>
